TAG
article {
    background-color: lightcya;
}
/* classe */
.fonte {
    font-family: 'Courier new', Courier, monospace
    font-size: 12px;o
}
/* id somente UM */
#id2 {
    background-color: lightgrey;
}